@import "../../styles/constants/_colors.scss";

.todoList {
  .list {
    height: calc(100% - 70px);
    overflow: auto;
    li {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin-top: 15px;
      border-radius: 10px;
      background: $WHITE;
      .checkbox {
        display: flex;
        align-items: center;
        input[type=checkbox]{
          display:none; 
        }
        label{
          display: flex;
          align-items: center;
          &:before{
            content:""; 
            display: block;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            border: 2px solid $PRIMERY;
            border-radius: 50%;
          }
          &.checkText{
            color: $GRAY2;
            text-decoration: line-through;
            &:before{
              border: none;
              background: $PRIMERY;
            }
          }
        }
      }
      .btnBox {
        display: flex;
        margin-left: auto;
      }
    }
  }
  .formBox {
    display: flex;
    position: absolute;
    width: calc(100% - 80px);
    height: 44px;
    left: 40px;
    bottom: 30px;
    .input {
      width: 78%;
      input {
        padding-left: 20px;
        width: 100%;
        height: 100%;
        background: $WHITE;
        border-radius: 10px;
        box-shadow: 2px 2px 6px 0px #e7f1ff;
        &::placeholder {
          color: $GRAY;
        }
      }
    }
    .createBtn {
      margin-left: auto;
    }
  }
}
