@import "../../styles/constants/_colors.scss";

.todoList {
  .headText {
    font-size: 12px;
    color: #839fee;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .list {
    height: calc(100% - 70px);
    overflow: auto;
    li {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin-top: 15px;
      border-radius: 10px;
      background: $WHITE;
      .checkbox {
        display: flex;
        align-items: center;
        input[type=checkbox]{
          display:none; 
        }
        label{
          display: flex;
          align-items: center;
          &:before{
            content:""; 
            display: block;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            border: 2px solid $PRIMERY;
            border-radius: 50%;
          }
          &.checkText{
            color: $GRAY2;
            text-decoration: line-through;
            &:before{
              border: none;
              background: $PRIMERY;
            }
          }
        }
      }
      .title {
        margin-left: 15px;
      }
      .btnBox {
        flex: none;
        opacity: 0.3;
        margin-left: auto;
        font-size: 20px;
        .cancelBtn {
          transition: 0.2s;
          &:hover {
            transform: rotate(15deg);
          }
        }
        .updateBtn {
          transition: 0.2s;
          transform: rotate(-15deg);
          &:hover {
            transform: rotate(0);
          }
        }
        .deleteBtn {
          margin-left: 5px;
          transition: 0.2s;
          &:hover {
            transform: rotate(15deg);
          }
        }
      }
    }
  }
  .formBox {
    display: flex;
    position: absolute;
    width: calc(100% - 80px);
    height: 44px;
    left: 40px;
    bottom: 30px;
    .input {
      width: 78%;
      input {
        padding-left: 20px;
        width: 100%;
        height: 100%;
        background: $WHITE;
        border-radius: 10px;
        box-shadow: 2px 2px 6px 0px #e7f1ff;
        &::placeholder {
          color: $GRAY;
        }
      }
    }
    .createBtn {
      margin-left: auto;
      button {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 100%;
        border-radius: 10px;
        background: $PRIMERY;
        font-size: 12px;
        letter-spacing: 0.4px;
        color: $WHITE;
        box-shadow: 1px 1px 3px 0px #235198;
      }
    }
  }
}
